extends ../template.pug

block headcontent
    - var title = post.headline

block bodycontent
    h1= post.headline
    p.byline= post.byline
    p(style="text-align: right") by 
        for creator in creators
            a(href=`/@${creator.username}`) #{creator.display_name !== '' ? creator.display_name : creator.username}
    i=post.trigger_warnings
    div(style="display: none")#helper=post.content_html
    #content
    script.
        document.getElementById('content').innerHTML = document.getElementById('helper').innerText